* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E4F0FA;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 100px 0 50px 0;
}

.container {
    width: 700px;
    background-color: #E4F0FA;
    border-radius: 20px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
}

.container p:first-child {
    text-align: center;
    font-size: 22px;
    border-radius: 20px;
    padding: 15px;
    background-color: #E4F0FA;
    color: #334669;
}

.container .block {
    display: flex;
    justify-content: center;
}

#text,
#textEdit {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 20px 0;
    padding: 15px 0;
    background-color: #E4F0FA;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: #334669;
    box-shadow: inset -6px -3px 5px rgba(255, 255, 255, 0.750601), inset 3px 6px 6px #C3D7E7, inset 4px 2px 6px #B1C5D5, inset 0px 2px 4px #C8D4E2;
}

.container input::placeholder {
    color: #334669cc;
    font-family: 'Montserrat', sans-serif;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list li {
    font-size: 20px;
    list-style: none;
    color: #334669;
    width: 450px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #334669cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list li p {
    width: 400px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 5px 10px 5px 0;
    border: none;
    outline: none;
}

.checked p {
    transition: all 0.7s ease;
    text-decoration: line-through;
    color: #33466994;
}

.fa-pencil {
    font-size: 20px;
}

.fa-trash-o {
    font-size: 20px;
    padding-left: 5px;
}

.fa-trash-o:hover,
.fa-pencil:hover,
.fa-times:hover {
    transition: color 0.2s linear;
    color: #33466994;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.add,
.reset {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 0;
    width: 30%;
    background-color: #E4F0FA;
    color: #334669;
    border-radius: 20px;
    margin: 15px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
}

.add:hover,
.reset:hover,
.save:hover {
    transition: box-shadow 0.7s ease;
    box-shadow: inset -6px -3px 5px rgba(255, 255, 255, 0.750601), inset 3px 6px 6px #C3D7E7, inset 4px 2px 6px #B1C5D5, inset 0px 2px 4px #C8D4E2;
}

.error {
    transition: all 0.7s ease;
    font-size: 18px;
    text-align: center;
    color: #334669;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E4F0FA;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

.modalWindow {
    animation-name: bounceInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    width: 700px;
    height: 30vh;
    top: calc(50% - 15vh);
    left: calc(50% - 350px);
    background-color: #E4F0FA;
    border-radius: 20px;
    position: fixed;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
    z-index: 2;
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: none;
    }
} 

.modalWindowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: inherit;
}

.fa-times {
    font-size: 30px;
    color: #334669;
    position: absolute;
    top: 30px;
    right: 30px;
}

.save {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px 0;
    width: 40%;
    background-color: #E4F0FA;
    color: #334669;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
}

.switch-btn {
    display: inline-block;
    width: 72px; 
    height: 38px;
    border-radius: 19px; 
    background: linear-gradient(to right, #87909e 0, #E4F0FA 40%, #bde1ff 60%, #E4F0FA 100%);
    background-size: 180px 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
    transition-duration: 300ms; 
    margin-bottom: 40px;
}

.switch-btn::after {
    content: "";
    height: 32px; 
    width: 32px; 
    border-radius: 17px;
    background: #fff; 
    top: 3px; 
    left: 3px; 
    transition-duration: 300ms; 
    position: absolute;
    z-index: 1;
}

.switch-on {
    background-position-x: -100px;
}

.switch-on::after {
    left: 37px;
}

.dark-theme {
    background-color: #2C2F33;
}

.dark-theme .container {
    background-color: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
}

.dark-theme .container p:first-child {
    background-color: #2C2F33;
    color: #EEEEEE;
}

.dark-theme #text,
.dark-theme #textEdit {
    background-color: #2C2F33;
    color: #EEEEEE;
    box-shadow: inset -6.22302px -6.22302px 18.6691px #3B4451, inset 6.22302px 6.22302px 18.6691px #000000;
}

.dark-theme .container input::placeholder {
    color: #eeeeeed7;
}

.dark-theme .list li {
    color: #EEEEEE;
    border-bottom: 1px solid #eeeeeed7;
}

.dark-theme .checked p {
    transition: all 0.7s ease;
    text-decoration: line-through;
    color: #eeeeeebe;
}

.dark-theme .fa-trash-o:hover,
.dark-theme .fa-pencil:hover,
.dark-theme .fa-times:hover {
    transition: color 0.2s linear;
    color: #eeeeee9f;
}

.dark-theme .add,
.dark-theme .reset {
    background-color: #2C2F33;
    color: #EEEEEE;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
}

.dark-theme .add:hover,
.dark-theme .reset:hover,
.dark-theme .save:hover {
    transition: box-shadow 0.7s ease;
    box-shadow: inset -6.22302px -6.22302px 18.6691px #3B4451, inset 6.22302px 6.22302px 18.6691px #000000;
}

.dark-theme .error {
    color: #EEEEEE;
}

.dark-theme .overlay {
    background-color: #2C2F33;
}

.dark-theme .modalWindow {
    background-color: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
}

.dark-theme .fa-times {
    color: #EEEEEE;
}

.dark-theme .save {
    background-color: #2C2F33;
    color: #EEEEEE;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
}