* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d5641;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 500px;
    background-color: #ecfaf6;
    border: 4px solid #eba8bb;
    border-radius: 8px;
    box-shadow: 10px 10px 47px 2px #041a13;
}
.container p:first-child {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    background-color: #eba8bb;
    color: #0d5641;
}
.container .block {
    display: flex;
    justify-content: center;
}
#text {
    font-size: 20px;
    padding: 5px;
    margin: 20px 0;
    width: 400px;
    outline: none;
    text-align: center;
    border: 1px solid #eba8bb;
    color: #0d5641;
}
.container input::placeholder {
    color: #0d5641bd;
}
.list li {
    font-size: 20px;
    margin-left: 20px;
    list-style: none;
    color: #0d5641;
    width: 455px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0d5641;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list li p {
    width: 400px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 5px 10px 5px 0;
    border: none;
    outline: none;
}
.checked p {
    transition: all 0.7s ease;
    text-decoration: line-through;
    color: #eba8bb;
}
.fa-pencil {
    font-size: 20px;
}
.fa-trash-o {
    font-size: 20px;
    padding-left: 5px;
}
.fa-trash-o:hover,
.fa-pencil:hover {
    transition: color 0.2s linear;
    color: #eba8bb;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.save,
.reset {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    background-color: #eba8bb;
    color: #0d5641;
    border-radius: 8px;
    margin: 15px;
}
.save:hover,
.reset:hover {
    transition: all 0.7s ease;
    background-color: #0d5641;
    color: #eba8bb;
}