* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E4F0FA;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container {
    width: 700px;
    background-color: #E4F0FA;
    border-radius: 20px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
}
.container p:first-child {
    text-align: center;
    font-size: 22px;
    border-radius: 20px;
    padding: 15px;
    background-color: #E4F0FA;
    color: #334669;
}
.container .block {
    display: flex;
    justify-content: center;
}
#text,
#textEdit {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 20px 0;
    padding: 15px 0;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: #334669;
    box-shadow: inset -6px -3px 5px rgba(255, 255, 255, 0.750601), inset 3px 6px 6px #C3D7E7, inset 4px 2px 6px #B1C5D5, inset 0px 2px 4px #C8D4E2;
}
.container input::placeholder {
    color: #334669cc;
    font-family: 'Montserrat', sans-serif;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list li {
    font-size: 20px;
    list-style: none;
    color: #334669;
    width: 450px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #334669cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list li p {
    width: 400px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 5px 10px 5px 0;
    border: none;
    outline: none;
}
.checked p {
    transition: all 0.7s ease;
    text-decoration: line-through;
    color: #33466994;
}
.fa-pencil {
    font-size: 20px;
}
.fa-trash-o {
    font-size: 20px;
    padding-left: 5px;
}
.fa-trash-o:hover,
.fa-pencil:hover,
.fa-times:hover {
    transition: color 0.2s linear;
    color: #33466994;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.add,
.reset {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 0;
    width: 30%;
    background-color: #E4F0FA;
    color: #334669;
    border-radius: 20px;
    margin: 15px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
}
.add:hover,
.reset:hover,
.save:hover {
    transition: box-shadow 0.7s ease;
    box-shadow: inset -6px -3px 5px rgba(255, 255, 255, 0.750601), inset 3px 6px 6px #C3D7E7, inset 4px 2px 6px #B1C5D5, inset 0px 2px 4px #C8D4E2;
}
.fadeIn {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
}
.error {
    transition: all 0.7s ease;
    font-size: 18px;
    text-align: center;
    color: #334669;
}
.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E4F0FA;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both;

}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
.modalWindow {
    animation-name: bounceInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    width: 700px;
    height: 30vh;
    position: absolute;
    top: calc(50% - 15vh);
    left: calc(50% - 350px);
    background-color: #E4F0FA;
    border-radius: 20px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
    z-index: 2;
}
@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: none;
    }
} 
.modalWindowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: inherit;
}
.fa-times {
    font-size: 30px;
    color: #334669;
    position: absolute;
    top: 30px;
    right: 30px;
}
.save {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px 0;
    width: 40%;
    background-color: #E4F0FA;
    color: #334669;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846);
}